In [2]:
class Dictionary:
    def __init__(self,words):
        self.words=words
    def find_most_similar(self,term):
        pass

In [3]:
# fruits = new Dictionary(['cherry', 'pineapple', 'melon', 'strawberry', 'raspberry']);
# fruits.findMostSimilar('strawbery'); // must return "strawberry"
# fruits.findMostSimilar('berry'); // must return "cherry"

# things = new Dictionary(['stars', 'mars', 'wars', 'codec', 'codewars']);
# things.findMostSimilar('coddwars'); // must return "codewars"

In [4]:
test_list = ['cherry', 'pineapple', 'melon', 'strawberry', 'raspberry']

test_word = 'berry'

for item in test_list:
    
    a = set(test_word)
    b = set(item)
    
#     print(item, len(a.difference(b))+ len(b.difference(a))+ abs(len(test_word) - len(item)))
    print(item, len(a.intersection(b))/len(a.union(b)))

In [28]:
a = Counter('berry')

In [29]:
b = Counter('cherry')

In [37]:
a = set('berry')
b = set('cherry')
c = set('strawberry')
d = set('raspberry')

In [47]:
d.difference(a)

{'a', 'p', 's'}

In [24]:
a.difference(b)

{'b'}

In [36]:
b.difference(a)

{'c', 'h'}

In [37]:
c.difference(a)

{'a', 's', 't', 'w'}

In [38]:
a.difference(c)

set()

In [40]:
len(c) - len(a)

4

In [41]:
len(c.difference(a))

4

In [62]:
test_word = 'coddwars'
index_list = []
test_list = ['stars', 'mars', 'wars', 'codec', 'codewars']


for item in test_list:
    
    a = set(test_word)
    b = set(item)
    
    index_list.append(len(a.intersection(b))/len(a.union(b)))
    
print(test_list[index_list.index(max(index_list))])

codewars

In [59]:
index_list.index(max(index_list))

4

In [32]:
class Dictionary:
    
    def __init__(self,words):
        
        self.words = words
        
    def find_most_similar(self,term):
        
        self.term = term
        
        index_list = []

        for item in self.words:

            a = set(self.term)
            b = set(item)

            index_list.append(len(a.intersection(b))/len(a.union(b)))

        self.find_most_similar = self.words[index_list.index(max(index_list))]
        
        return self.find_most_similar

In [33]:
fruits = Dictionary(['cherry', 'pineapple', 'melon', 'strawberry', 'raspberry'])

In [34]:
fruits.find_most_similar('berry')

'raspberry'

In [35]:
fruits = Dictionary(['cherry', 'peach', 'pineapple', 'melon', 'strawberry', 'raspberry', 'apple', 'coconut', 'banana'])

In [36]:
fruits.find_most_similar('aple')

'apple'

In [19]:
fruits.find_most_similar('strawberry')

TypeError: 'str' object is not callable

In [42]:
test_list = ['cherry', 'pineapple', 'melon', 'strawberry', 'raspberry']

test_word = 'berry'

for item in test_list:
    
    a = set(test_word)
    b = set(item)
    
#     print(item, len(a.difference(b))+ len(b.difference(a))+ abs(len(test_word) - len(item)))
    print(item, len(a.intersection(b))/len(a.union(b)))

cherry 0.5
pineapple 0.1111111111111111
melon 0.125
strawberry 0.5
raspberry 0.5714285714285714

In [48]:
import pandas as pd

from collections import Counter
from string import ascii_lowercase

In [50]:
Counter(ascii_lowercase)

Counter({'a': 1,
         'b': 1,
         'c': 1,
         'd': 1,
         'e': 1,
         'f': 1,
         'g': 1,
         'h': 1,
         'i': 1,
         'j': 1,
         'k': 1,
         'l': 1,
         'm': 1,
         'n': 1,
         'o': 1,
         'p': 1,
         'q': 1,
         'r': 1,
         's': 1,
         't': 1,
         'u': 1,
         'v': 1,
         'w': 1,
         'x': 1,
         'y': 1,
         'z': 1})

In [52]:
pd.DataFrame({'index':Counter(ascii_lowercase)})

   index
a      1
b      1
c      1
d      1
e      1
f      1
g      1
h      1
i      1
j      1
k      1
l      1
m      1
n      1
o      1
p      1
q      1
r      1
s      1
t      1
u      1
v      1
w      1
x      1
y      1
z      1

In [47]:
pd.DataFrame(Counter('berry'), columns = 'berry')

TypeError: Index(...) must be called with a collection of some kind, 'berry' was passed

In [56]:
df = pd.DataFrame({
    "berry": Counter('berry')
}, index = Counter(ascii_lowercase)).fillna(0)

In [61]:
df.berry = df.berry.astype(int)

In [62]:
df

   berry
a      0
b      1
c      0
d      0
e      1
f      0
g      0
h      0
i      0
j      0
k      0
l      0
m      0
n      0
o      0
p      0
q      0
r      2
s      0
t      0
u      0
v      0
w      0
x      0
y      1
z      0

In [68]:
temp = pd.concat([df,pd.DataFrame({'raspberry':Counter('raspberry')}).astype(int,inplace = True)], axis = 1).fillna(0)

In [69]:
import numpy as np

In [70]:
np.dot(temp.berry.values, temp.raspberry.values)

9.0

In [80]:
x = np.dot(temp.berry.values, temp.raspberry.values) / (np.linalg.norm(temp.berry.values) * np.linalg.norm(temp.raspberry.values))

In [81]:
np.arccos(x)

0.4984804371374333

TypeError: norm() missing 1 required positional argument: 'x'