In this kata you are required to, given a string, replace every letter with its position in the alphabet.

If anything in the text isn't a letter, ignore it and don't return it.

a being 1, b being 2, etc.

As an example:

`alphabet_position("The sunset sets at twelve o' clock.")`

Should return "20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11" as a string.

In [47]:
def alphabet_position(text):
    from string import ascii_lowercase
    
    result = ""
    
    for idx, char in enumerate(text.lower()):
        for jdx, letter in enumerate(ascii_lowercase):
            if char == letter:
#                 print(jdx, char)
                result += str(jdx+1) + " "
    
    return result[:-1]

In [39]:
alphabet_position('abcdefghijklmnopqrstuvwxyz')

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

'0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 '

In [48]:
alphabet_position("The sunset sets at twelve o' clock.")

'20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11'

In [49]:
alphabet_position("Hello, my name is Dr.Acula.  I vant to suck your blood!")

'8 5 12 12 15 13 25 14 1 13 5 9 19 4 18 1 3 21 12 1 9 22 1 14 20 20 15 19 21 3 11 25 15 21 18 2 12 15 15 4'

Once upon a time, on a way through the old wild west,…
… a man was given directions to go from one point to another. The directions were "NORTH", "SOUTH", "WEST", "EAST". Clearly "NORTH" and "SOUTH" are opposite, "WEST" and "EAST" too. Going to one direction and coming back the opposite direction is a needless effort. Since this is the wild west, with dreadfull weather and not much water, it's important to save yourself some energy, otherwise you might die of thirst!

How I crossed the desert the smart way.
The directions given to the man are, for example, the following:

["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"].
or

{ "NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST" };
or (haskell)

[North, South, South, East, West, North, West]
You can immediatly see that going "NORTH" and then "SOUTH" is not reasonable, better stay to the same place! So the task is to give to the man a simplified version of the plan. A better plan in this case is simply:

["WEST"]
or

{ "WEST" }
or (haskell)

[West]
or (rust)

[WEST];
Other examples:
In ["NORTH", "SOUTH", "EAST", "WEST"], the direction "NORTH" + "SOUTH" is going north and coming back right away. What a waste of time! Better to do nothing.

The path becomes ["EAST", "WEST"], now "EAST" and "WEST" annihilate each other, therefore, the final result is [] (nil in Clojure).

In ["NORTH", "EAST", "WEST", "SOUTH", "WEST", "WEST"], "NORTH" and "SOUTH" are not directly opposite but they become directly opposite after the reduction of "EAST" and "WEST" so the whole path is reducible to ["WEST", "WEST"].

Task
Write a function dirReduc which will take an array of strings and returns an array of strings with the needless directions removed (W<->E or S<->N side by side).

The Haskell version takes a list of directions with data Direction = North | East | West | South. The Clojure version returns nil when the path is reduced to nothing. The Rust version takes a slice of enum Direction {NORTH, SOUTH, EAST, WEST}.

Examples
dirReduc(@[@"NORTH", @"SOUTH", @"SOUTH", @"EAST", @"WEST", @"NORTH", @"WEST"]); // => @[@"WEST"]
dirReduc(@[@"NORTH", @"SOUTH", @"SOUTH", @"EAST", @"WEST", @"NORTH"]); // => @[]
See more examples in "Example Tests"
Note
Not all paths can be made simpler. The path ["NORTH", "WEST", "SOUTH", "EAST"] is not reducible. "NORTH" and "WEST", "WEST" and "SOUTH", "SOUTH" and "EAST" are not directly opposite of each other and can't become such. Hence the result path is itself : ["NORTH", "WEST", "SOUTH", "EAST"].

In [57]:
compass = ['NORTH', 'SOUTH','WEST','EAST']

In [103]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]

In [59]:
from collections import Counter

In [126]:
dir_dict = Counter(arr)

y = dir_dict['NORTH'] - dir_dict['SOUTH']
x = dir_dict['WEST'] - dir_dict['EAST']

In [127]:
dir_dict

Counter({'EAST': 1, 'NORTH': 2, 'SOUTH': 2, 'WEST': 2})

In [90]:
x = 1
if x * -1 == x:
    print(x * 'NORTH')
else:
    print('SOUTH')

SOUTH

In [101]:
def dir_check(num):
    num = -5
    if num > 0:
        result = (num * 'NORTH ').split(" ")
        result = result[:-1]
    elif num < 0:
        result = (-num * 'SOUTH ').split(" ")
        result = result[:-1]

    return result

In [ ]:
num = -5
if num > 0:
    result = (num * 'NORTH ').split(" ")
    result = result[:-1]
elif num < 0:
    result = (-num * 'SOUTH ').split(" ")
    result = result[:-1]

In [ ]:
if dir_dict['NORTH'] > dir_dict['SOUTH']:
    
    ns = (dir_dict['NORTH'] * 'NORTH ').split(" ")[:-1]
    
elif dir_dict['NORTH'] < dir_dict['SOUTH']:
    
    ns = (dir_dict['SOUTH'] * 'NORTH ').split(" ")[:-1]
    
elif dir_dict['NORTH'] == 0 and dir_dict['SOUTH'] == 0:
    
    ns = []


if dir_dict['EAST'] > dir_dict['WEST']:
    
    we = (dir_dict['EAST'] * 'EAST ').split(" ")[:-1]
    
elif dir_dict['EAST'] < dir_dict['WEST']:
    
    we = (dir_dict['WEST'] * 'WEST ').split(" ")[:-1]
    
elif dir_dict['WEST'] == 0 and dir_dict['EAST'] == 0:
    
    we = []

ns.append(we)

In [207]:
def dirReduc(arr):
    
    from collections import Counter

    ns = []
    we = []
    
    dir_dict = Counter(arr)
    
    if dir_dict['NORTH'] > dir_dict['SOUTH']:

        ns = (dir_dict['NORTH'] * 'NORTH ').split(" ")[:-1]

    elif dir_dict['NORTH'] < dir_dict['SOUTH']:

        ns = (dir_dict['SOUTH'] * 'SOUTH ').split(" ")[:-1]

    elif dir_dict['NORTH'] == 0 and dir_dict['SOUTH'] == 0:

        ns = []

        
    if dir_dict['EAST'] > dir_dict['WEST']:

        we = ((dir_dict['EAST'] - dir_dict['WEST']) * 'EAST ').split(" ")[:-1]

    elif dir_dict['EAST'] < dir_dict['WEST']:

        we = ((dir_dict['WEST'] - dir_dict['EAST']) * 'WEST ').split(" ")[:-1]

    elif dir_dict['WEST'] == 0 and dir_dict['EAST'] == 0:

        we = []
    
    result = ns + we
    
    return result

In [208]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
dirReduc(test)

['WEST']

In [209]:
dirReduc(["NORTH", "WEST", "SOUTH", "EAST"])

[]

In [154]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
test

['NORTH', 'SOUTH', 'SOUTH', 'EAST', 'WEST', 'NORTH', 'WEST']

In [163]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
result = []
for idx, direction in enumerate(test):
    try:
        if test[idx] == 'NORTH' and test[idx + 1] =='SOUTH':
            del test[idx+1]

        elif test[idx] == 'SOUTH' and test[idx + 1] =='NORTH':
            del test[idx+1]
            
        else:
            pass
    except:
        pass
    
    try:
        if test[idx] == 'WEST' and test[idx + 1] =='EAST':
            del test[idx+1]

        elif test[idx] == 'EAST' and test[idx + 1] =='WEST':
            del test[idx+1]

        else:
            pass
    except:
        pass

In [164]:
test

['NORTH', 'SOUTH', 'EAST', 'NORTH', 'WEST']

In [225]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
result = []
result.append(test[0])

for idx, direction in enumerate(test):
#     print(idx)
    try:  
        if test[idx] == 'NORTH' and test[idx + 1] =='SOUTH':
            pass

        elif test[idx] == 'SOUTH' and test[idx + 1] =='NORTH':
            pass
        
        elif test[idx] == 'NORTH' and test[idx + 1] !='SOUTH':
            print(idx)
            result.append('NORTH')
        
        elif test[idx] == 'SOUTH' and test[idx + 1] !='NORTH':
            print(idx)
            result.append('SOUTH')

            
        if test[idx] == 'WEST' and test[idx + 1] =='EAST':
            pass

        elif test[idx] == 'EAST' and test[idx + 1] =='WEST':
            pass
        
        elif test[idx] == 'WEST' and test[idx + 1] !='EAST':
            print(idx)
            result.append('EAST')
        
        elif test[idx] == 'EAST' and test[idx + 1] !='WEST':
            print(idx)
            result.append('WEST')
            
            
#         if test[idx] == 'WEST' and test[idx + 1] =='EAST':
#             pass

#         elif test[idx] == 'EAST' and test[idx + 1] =='WEST':
#             pass

#         else:
#             result.append(direction)
    except:
        pass
    
result

1
2
4
5

['NORTH', 'SOUTH', 'SOUTH', 'EAST', 'NORTH']

In [249]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
result = ['START']

for idx, direction in enumerate(test):
#     print(idx)
    try:  
        if test[idx] == 'NORTH' and test[idx + 1] =='SOUTH':
            pass

        elif test[idx] == 'SOUTH' and test[idx + 1] =='NORTH':
            pass
        
        elif test[idx] == 'NORTH' and test[idx + 1] !='SOUTH' and result[-1] != 'SOUTH':
#             print(idx, 'NORTH')
            result.append('NORTH')
        
        elif test[idx] == 'SOUTH' and test[idx + 1] !='NORTH' and result[-1] != 'NORTH':
#             print(idx, 'SOUTH')
            result.append('SOUTH')
    
        elif test[idx] == 'WEST' and test[idx + 1] =='EAST':
            pass

        elif test[idx] == 'EAST' and test[idx + 1] =='WEST':
            pass
        
        elif test[idx] == 'WEST' and test[idx + 1] !='EAST':
            if result[-1] != 'EAST':
#                 print(idx, 'WEST')
                result.append('WEST')
        
        elif test[idx] == 'EAST' and test[idx + 1] !='WEST':
            if result[-1] != 'WEST':
#                 print(idx, 'WEST')
                result.append('EAST')       
    except:
        pass
    print(idx, test[idx], result)
    
result

0 NORTH ['START']
1 SOUTH ['START', 'SOUTH']
2 SOUTH ['START', 'SOUTH', 'SOUTH']
3 EAST ['START', 'SOUTH', 'SOUTH']
4 WEST ['START', 'SOUTH', 'SOUTH', 'WEST']
5 NORTH ['START', 'SOUTH', 'SOUTH', 'WEST', 'NORTH']
6 WEST ['START', 'SOUTH', 'SOUTH', 'WEST', 'NORTH']

['START', 'SOUTH', 'SOUTH', 'WEST', 'NORTH']

In [275]:
test = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
result = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
counter = 0
idx = 0


while counter < 10:
#     print(idx)
    tracker = len(result)
    for i in range(0,len(result)):
        try:  
            if result[idx] == 'NORTH' and result[idx + 1] =='SOUTH':
                del result[idx]
                del result[idx]

            elif result[idx] == 'SOUTH' and result[idx + 1] =='NORTH':
                del result[idx]
                del result[idx]

            elif result[idx] == 'WEST' and result[idx + 1] =='EAST':
                del result[idx]
                del result[idx]  

            elif result[idx] == 'EAST' and result[idx + 1] =='WEST':
                del result[idx]
                del result[idx]
            else:
                idx += 1
        except:
            pass
    
    counter += 1
    idx = 0
#     print(idx, result)
    
    if tracker == len(result):
        break
    
result

0 ['SOUTH', 'NORTH', 'WEST']
0 ['WEST']
0 ['WEST']

['WEST']

In [288]:
#### My Solution:

a = ["NORTH", "SOUTH", "SOUTH", "EAST", "WEST", "NORTH", "WEST"]
u = ["NORTH", "WEST", "SOUTH", "EAST"]

def dirReduc(arr):
    
    counter = 0
    idx = 0

    while counter < 10:
    #     print(idx)
        tracker = len(arr)
        for i in range(0,len(arr)):
            try:  
                if arr[idx] == 'NORTH' and arr[idx + 1] =='SOUTH':
                    del arr[idx]
                    del arr[idx]

                elif arr[idx] == 'SOUTH' and arr[idx + 1] =='NORTH':
                    del arr[idx]
                    del arr[idx]

                elif arr[idx] == 'WEST' and arr[idx + 1] =='EAST':
                    del arr[idx]
                    del arr[idx]

                elif arr[idx] == 'EAST' and arr[idx + 1] =='WEST':
                    del arr[idx]
                    del arr[idx]
                    
                else:
                    idx += 1
            except:
                pass

        counter += 1
        idx = 0
    #     print(idx, arr)

        if tracker == len(arr):
            break
            
    return arr

In [291]:
print(dirReduc(a))
print(dirReduc(u))

['WEST']
['NORTH', 'WEST', 'SOUTH', 'EAST']

Where my anagrams at?

What is an anagram? Well, two words are anagrams of each other if they both contain the same letters. For example:

'abba' & 'baab' == true

'abba' & 'bbaa' == true

'abba' & 'abbba' == false
Write a function that will find all the anagrams of a word from a list. You will be given two inputs a word and an array with words. You should return an array of all the anagrams or an empty array if there are none. For example:

anagrams('abba', ['aabb', 'abcd', 'bbaa', 'dada']) => ['aabb', 'bbaa']

anagrams('racer', ['crazer', 'carer', 'racar', 'caers', 'racer']) => ['carer', 'racer']

anagrams('laser', ['lazing', 'lazy',  'lacer']) => []

In [297]:
test = ['aabb', 'abcd', 'bbaa', 'dada']
test2 = ['crazer', 'carer', 'racar', 'caers', 'racer']

In [295]:
from collections import Counter

result = []

for i in test:
    for j in test:
        if Counter(i) == Counter(j) and i != j:
            result.append(i)

In [296]:
result

['aabb', 'bbaa']

In [372]:
def anagrams(word, words):
    
    from collections import Counter

    result = []

    for word in words:
        for j in words:
            if Counter(word) == Counter(j) and word != j:
                result.append(j)
                
    return sorted(list(set(result)))

In [373]:
anagrams('abba', ['aabb', 'abcd', 'bbaa', 'dada'])

['aabb', 'bbaa']

In [377]:
anagrams('racer', ['crazer', 'carer', 'racar', 'caers', 'racer'])

['carer', 'racer']

In [378]:
anagrams('laser', ['lazing', 'lazy',  'lacer'])

[]

In [379]:
anagrams('a', ['a'])

[]

Test Passed
Test Passed
[] should equal ['a']
Test Passed
['aabb', 'aabb', 'aabb', 'aabb', 'abab', 'abab', 'abab', 'abab', 'abbaa', 'abbaa', 'abbab', 'abbba', 'baaab', 'baaab', 'baab', 'baab', 'baab', 'baab', 'baba', 'baba', 'baba', 'baba', 'babaa', 'babaa', 'bbaa', 'bbaa', 'bbaa', 'bbaa'] should equal ['aabb', 'bbaa', 'abab', 'baba', 'baab']
['bid', 'dib'] should equal []

In [346]:
anagrams('bid', ['dib', 'bid', 'idb', 'dbsdbodil'])

['bid', 'dib', 'idb']

In [380]:
### My Solution:
def anagrams(word, words):
    
    from collections import Counter

    result = []

    for i in words:
        if Counter(word) == Counter(i):
            result.append(i)
                
    return result

In [381]:
anagrams('abba', ['aabb', 'abcd', 'bbaa', 'dada'])

['aabb', 'bbaa']

In [383]:
anagrams('racer', ['crazer', 'carer', 'racar', 'caers', 'racer'])

['carer', 'racer']

In [384]:
anagrams('laser', ['lazing', 'lazy',  'lacer'])

[]

In [385]:
anagrams('a', ['a'])

['a']

A Narcissistic Number is a number which is the sum of its own digits, each raised to the power of the number of digits.

For example, take 153 (3 digits):

    1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
and 1634 (4 digits):

    1^4 + 6^4 + 3^4 + 4^4 = 1 + 1296 + 81 + 256 = 1634
The Challenge:

Your code must return true or false depending upon whether the given number is a Narcissistic number.

Error checking for text strings or other invalid inputs is not required, only valid integers will be passed into the function.

In [21]:
def narcissistic(value):
    
    num = 0
    expontent = len(str(value))
    
    
    for char in str(value):
        print(int(char)**expontent)
        num += (int(char)**expontent)
        
    print(num)
        
    if num == value:
        return True
    elif num != value:
        return False

In [22]:
narcissistic(153)

1
125
27
153

True

In [23]:
narcissistic(1634)

1
1296
81
256
1634

True

In [20]:
1**3 + 6**3 + 3**3 + 4**3

308

A friend of mine takes a sequence of numbers from 1 to n (where n > 0).
Within that sequence, he chooses two numbers, a and b.
He says that the product of a and b should be equal to the sum of all numbers in the sequence, excluding a and b.
Given a number n, could you tell me the numbers he excluded from the sequence?
The function takes the parameter: n (don't worry, n is always strictly greater than 0 and relatively small) and returns an array or a string (depending on the language) of the form:

[(a, b), ...] or [[a, b], ...] or {{a, b}, ...} or or [{a, b}, ...]
with all (a, b) which are the possible removed numbers in the sequence 1 to n.

[(a, b), ...] or [[a, b], ...] or {{a, b}, ...} or ...will be sorted in increasing order of the "a".

It happens that there are several possible (a, b). The function returns an empty array if no possible numbers are found which will prove that my friend has not told the truth! (Go: in this case return nil).

(See examples of returns for each language in "RUN SAMPLE TESTS")

Examples:
removNb(26) should return [(15, 21), (21, 15)]
or

removNb(26) should return { {15, 21}, {21, 15} }
or

removeNb(26) should return [[15, 21], [21, 15]]
or

removNb(26) should return [ {15, 21}, {21, 15} ]
or

removNb(26) should return "15 21, 21 15"
or

in C:
removNb(26) should return  **an array of pairs {{15, 21}{21, 15}}**
tested by way of strings.

In [26]:
import numpy as np

In [28]:
N = 26

test = np.arange(1,26)

In [29]:
test

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [30]:
np.sum(test)

325

In [32]:
result = []
for i in test:
    for j in test:
        if i*j == np.sum(test):
            print(i,j,np.sum(test))
            
            result.append((i,j))
            
print(result)

13 25 325
25 13 325
[(13, 25), (25, 13)]

In [87]:
test

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26]

In [99]:
test = list(range(1,26+1))
print(test)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

In [100]:
temp = test.remove(25)

AttributeError: 'NoneType' object has no attribute 'copy'

In [95]:
print(test)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26]

In [97]:
print(temp)

None

In [76]:
sum([1,2])

3

In [104]:
list(range(1,10+1)).remove(1)

In [119]:
def removNb(n):
    
    import numpy as np
    
    int_list = list(range(1,n+1))
    
    result = []
    
    for i in int_list:
        for j in int_list:
            
            if i != j:
            
                loop_list = list(range(1,n+1))
                loop_list.remove(i)
                loop_list.remove(j)

                if i*j == sum(loop_list):

#                     print(loop_list)
                    print(i,j,np.sum(int_list))
                    result.append((i,j))
    return result

In [120]:
13 *25

325

In [121]:
removNb(26)

15 21 351
21 15 351

[(15, 21), (21, 15)]

In [122]:
removNb(100)

[]

In [127]:
new_result = []
for i in range(1,1000):
    new_result.append(removNb(i))

6 7 55
7 6 55
10 13 153
13 10 153
15 21 351
21 15 351
22 28 666
28 22 666
21 31 703
31 21 703
27 36 1035
36 27 1035
28 43 1275
43 28 1275
42 43 1891
43 42 1891
36 57 2145
57 36 2145
42 52 2278
52 42 2278
45 66 3081
66 45 3081
45 73 3403
73 45 3403
52 78 4186
78 52 4186
57 76 4465
76 57 4465
55 91 5151
91 55 5151
70 73 5253
73 70 5253
70 85 6105
85 70 6105
66 111 7503
111 66 7503
76 120 9316
120 76 9316
87 108 9591
108 87 9591
78 133 10585
133 78 10585
87 126 11175
126 87 11175
85 136 11781
136 85 11781
106 112 12090
112 106 12090
106 127 13695
127 106 13695
91 157 14535
157 91 14535
105 141 15051
141 105 15051
115 141 16471
141 115 16471
112 148 16836
148 112 16836
108 162 17766
162 108 17766
105 183 19503
183 105 19503
115 190 22155
190 115 22155
147 153 22791
153 147 22791
150 160 24310
160 150 24310
120 211 25651
211 120 25651
126 210 26796
210 126 26796
150 178 27028
178 150 27028
157 196 31125
196 157 31125
147 211 31375
211 147 31375
136 241 33153
241 136 33153
160 213 34453
213 160 34453
148 232 34716
232 148 34716
183 192 35511
192 183 35511
171 231 39903
231 171 39903
153 273 42195
273 153 42195
202 217 44253
217 202 44253
162 276 45150
276 162 45150
178 258 46360
258 178 46360
202 238 48516
238 202 48516
192 252 48828
252 192 48828
175 280 49455
280 175 49455
171 307 52975
175 300 52975
300 175 52975
307 171 52975
196 295 58311
295 196 58311
223 267 60031
267 223 60031
252 253 64261
253 252 64261
190 343 65703
343 190 65703
213 318 68265
318 213 68265
241 295 71631
295 241 71631
225 321 72771
321 225 72771

KeyboardInterrupt:

In [129]:
range(0,1) + range(2,3)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [161]:
list(range(1,26+1)).remove(1)

In [203]:
import itertools

In [210]:
for i in itertools.combinations(range(0,1000), 2):
    if i[0] != i[1] and i[0] * i[1] == sum(range(0,1000)) - i[0] - i[1]:
        print(i)

In [297]:
def removNb(n):
    
    import itertools
    
    i_range = range(1,n+1)
        
    result = []
    
    for i in itertools.combinations(i_range, 2):
        if i[0] * i[1] == sum(i_range) - i[0] - i[1]:
            result.append((i[0], i[1]))
            result.append((i[1], i[0]))
                
    return result

In [547]:
def removNb(n):

    import itertools
    
    list_sum = sum(range(1,n+1))
    
    i_range = range(int(n*0.5),int((n+1)*0.9))
        
    result = []
    
    for i in itertools.combinations(i_range, 2):
        if i[0] * i[1] == list_sum - i[0] - i[1]:
            result.append((i[0], i[1]))
            result.append((i[1], i[0]))
    
    return result

In [ ]:
n*(n+1)/2

In [309]:
n = 1000
sum(range(1,n+1))

500500

In [313]:
n = 26

print(n*(n+1)/2)
print(351 - 15)
print(351 - 15 - 21)

351.0
336
315

In [310]:
n*(n+1)/2

500500.0

In [290]:
26*0.4

10.4

In [291]:
15/26

0.5769230769230769

In [292]:
21/26

0.8076923076923077

In [548]:
removNb(26)

[(15, 21), (21, 15)]

In [294]:
removNb(100)

[]

In [295]:
removNb(1000)

[]

In [245]:
316/400

0.79

In [ ]:
10 17 26 36 37 45

In [327]:
[(6, 7), (7, 6)][1][0]

7

In [392]:
result_list = []
for i in range(1,300):
    temp = removNb(i)
    if len(temp) > 0:
        print(i, temp)
        result_list.append((i, temp[0][0], temp[0][1]))

10 [(6, 7), (7, 6)]
17 [(10, 13), (13, 10)]
26 [(15, 21), (21, 15)]
36 [(22, 28), (28, 22)]
37 [(21, 31), (31, 21)]
45 [(27, 36), (36, 27)]
50 [(28, 43), (43, 28)]
61 [(42, 43), (43, 42)]
65 [(36, 57), (57, 36)]
67 [(42, 52), (52, 42)]
78 [(45, 66), (66, 45)]
82 [(45, 73), (73, 45)]
91 [(52, 78), (78, 52)]
94 [(57, 76), (76, 57)]
102 [(70, 73), (73, 70)]
110 [(70, 85), (85, 70)]
136 [(76, 120), (120, 76)]
138 [(87, 108), (108, 87)]
149 [(87, 126), (126, 87)]
153 [(85, 136), (136, 85)]
155 [(106, 112), (112, 106)]
165 [(106, 127), (127, 106)]
173 [(105, 141), (141, 105)]
181 [(115, 141), (141, 115)]
183 [(112, 148), (148, 112)]
188 [(108, 162), (162, 108)]
213 [(147, 153), (153, 147)]
220 [(150, 160), (160, 150)]
232 [(150, 178), (178, 150)]
249 [(157, 196), (196, 157)]
250 [(147, 211), (211, 147)]
262 [(160, 213), (213, 160)]
263 [(148, 232), (232, 148)]
266 [(183, 192), (192, 183)]
282 [(171, 231), (231, 171)]
297 [(202, 217), (217, 202)]

In [317]:
490*568

278320

In [319]:
sum(range(1,747+1)) - 490 - 568

278320

In [135]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
list(reversed(range(0,10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [333]:
N = 26
print([int(n*(n+1)/2) for n in range(1,N)])
print([int(n*(n+1)/2) + 1 for n in range(1,N)])

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325]
[2, 4, 7, 11, 16, 22, 29, 37, 46, 56, 67, 79, 92, 106, 121, 137, 154, 172, 191, 211, 232, 254, 277, 301, 326]

In [378]:
a1 = np.array(result_list)[:,0]
a1

array([ 10,  17,  26,  36,  37,  45,  50,  61,  65,  67,  78,  82,  91,
        94, 102, 110, 136, 138, 149, 153, 155, 165, 173, 181, 183, 188,
       213, 220, 232, 249, 250, 262, 263, 266, 282, 297])

In [379]:
a2 = np.array(result_list)[:,1]
a2

array([  6,  10,  15,  22,  21,  27,  28,  42,  36,  42,  45,  45,  52,
        57,  70,  70,  76,  87,  87,  85, 106, 106, 105, 115, 112, 108,
       147, 150, 150, 157, 147, 160, 148, 183, 171, 202])

In [380]:
a3 = np.array(result_list)[:,2]
a3

array([  7,  13,  21,  28,  31,  36,  43,  43,  57,  52,  66,  73,  78,
        76,  73,  85, 120, 108, 126, 136, 112, 127, 141, 141, 148, 162,
       153, 160, 178, 196, 211, 213, 232, 192, 231, 217])

In [359]:
set(np.concatenate((a1,a2,a3)))

{6,
 7,
 10,
 13,
 15,
 17,
 21,
 22,
 26,
 27,
 28,
 31,
 36,
 37,
 42,
 43,
 45,
 50,
 52,
 57,
 61,
 65,
 66,
 67,
 70,
 73,
 76,
 78,
 82,
 85,
 87,
 91,
 94,
 102,
 105,
 106,
 108,
 110,
 112,
 115,
 120,
 126,
 127,
 136,
 138,
 141,
 147,
 148,
 149,
 150,
 153,
 155,
 157,
 160,
 162,
 165,
 171,
 173,
 178,
 181,
 183,
 188,
 192,
 196,
 202,
 211,
 213,
 217,
 220,
 231,
 232,
 249,
 250,
 262,
 263,
 266,
 282,
 297}

In [373]:
for i in set(a3):
    print(i in [int(n*(n+1)/2) for n in range(1,N)])

False
True
False
False
False
True
True
True
False
False
False
True
False
False
False
False
False
True
False
False
False
True
False
False
False
False
True
False
False
False
True
False
False

In [365]:
1 in [int(n*(n+1)/2) for n in range(1,N)]

True

In [403]:
tup1 = np.array(result_list)[:,1]
tup2 = np.array(result_list)[:,2]
print(tup1)
print(tup2)

[  6  10  15  22  21  27  28  42  36  42  45  45  52  57  70  70  76  87
  87  85 106 106 105 115 112 108 147 150 150 157 147 160 148 183 171 202]
[  7  13  21  28  31  36  43  43  57  52  66  73  78  76  73  85 120 108
 126 136 112 127 141 141 148 162 153 160 178 196 211 213 232 192 231 217]

In [406]:
temp = set(np.concatenate((tup1, tup2)))

In [462]:
number_list = [int(n*(n+1)/2) for n in range(1,500)]
true_list = []
false_list = []
for i in result_list:
    if i[1] in number_list or i[2] in number_list:
        print(i, True)
        true_list.append(i[2])
    else:
        print(i, False)
        false_list.append(i[2])
        
#     if i[2] in number_list:
#         print(i, True)
#         true_list.append(i[2])
#     else:
#         print(i, False)
#         false_list.append(i[2])

(10, 6, 7) True
(17, 10, 13) True
(26, 15, 21) True
(36, 22, 28) True
(37, 21, 31) True
(45, 27, 36) True
(50, 28, 43) True
(61, 42, 43) False
(65, 36, 57) True
(67, 42, 52) False
(78, 45, 66) True
(82, 45, 73) True
(91, 52, 78) True
(94, 57, 76) False
(102, 70, 73) False
(110, 70, 85) False
(136, 76, 120) True
(138, 87, 108) False
(149, 87, 126) False
(153, 85, 136) True
(155, 106, 112) False
(165, 106, 127) False
(173, 105, 141) True
(181, 115, 141) False
(183, 112, 148) False
(188, 108, 162) False
(213, 147, 153) True
(220, 150, 160) False
(232, 150, 178) False
(249, 157, 196) False
(250, 147, 211) False
(262, 160, 213) False
(263, 148, 232) False
(266, 183, 192) False
(282, 171, 231) True
(297, 202, 217) False

In [424]:
set(true_list)

{6, 10, 15, 21, 28, 36, 45, 66, 78, 105, 120, 136, 153, 171, 231}

In [430]:
print([int(n*(n+1)/2) for n in range(1,500)][:len(true_list)])

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190]

In [463]:
for i in set(true_list):
    if i in [int(n*(n+1)/2) for n in range(1,500)]:
        print(True)
    else:
        print(False)

True
True
True
False
True
False
True
False
False
True
False
True
True
False
True
False

In [427]:
print(sorted(set(false_list)))

[7, 13, 22, 27, 31, 42, 43, 52, 57, 70, 73, 76, 85, 87, 106, 108, 112, 115, 126, 127, 141, 147, 148, 150, 157, 160, 162, 178, 183, 192, 196, 202, 211, 213, 217, 232]

In [436]:
print([int(n*(n+1)/2 + 1) for n in range(1,500)][:len(false_list)])

[2, 4, 7, 11, 16, 22, 29, 37, 46, 56, 67, 79, 92, 106, 121, 137, 154, 172, 191, 211, 232, 254, 277, 301, 326, 352, 379, 407, 436, 466, 497, 529, 562, 596, 631, 667, 704, 742, 781, 821, 862, 904, 947, 991, 1036, 1082, 1129, 1177, 1226, 1276, 1327, 1379, 1432]

In [464]:
for i in set(false_list):
    if i in [int(n*(n+1)/2 + 1) for n in range(1,500)] \
    or i in [int(n*(n+1)/2 + 2) for n in range(1,500)] \
    or i in [int(n*(n+1)/2 + 3) for n in range(1,500)]:
        print(True)
    else:
        print(False)

False
True
False
False
True
False
False
False
True
False
False
False
True
False
False
False
True
False
False
False

In [442]:
[int(n*(n+1)/2 + 3) for n in range(1,500)]

[4,
 6,
 9,
 13,
 18,
 24,
 31,
 39,
 48,
 58,
 69,
 81,
 94,
 108,
 123,
 139,
 156,
 174,
 193,
 213,
 234,
 256,
 279,
 303,
 328,
 354,
 381,
 409,
 438,
 468,
 499,
 531,
 564,
 598,
 633,
 669,
 706,
 744,
 783,
 823,
 864,
 906,
 949,
 993,
 1038,
 1084,
 1131,
 1179,
 1228,
 1278,
 1329,
 1381,
 1434,
 1488,
 1543,
 1599,
 1656,
 1714,
 1773,
 1833,
 1894,
 1956,
 2019,
 2083,
 2148,
 2214,
 2281,
 2349,
 2418,
 2488,
 2559,
 2631,
 2704,
 2778,
 2853,
 2929,
 3006,
 3084,
 3163,
 3243,
 3324,
 3406,
 3489,
 3573,
 3658,
 3744,
 3831,
 3919,
 4008,
 4098,
 4189,
 4281,
 4374,
 4468,
 4563,
 4659,
 4756,
 4854,
 4953,
 5053,
 5154,
 5256,
 5359,
 5463,
 5568,
 5674,
 5781,
 5889,
 5998,
 6108,
 6219,
 6331,
 6444,
 6558,
 6673,
 6789,
 6906,
 7024,
 7143,
 7263,
 7384,
 7506,
 7629,
 7753,
 7878,
 8004,
 8131,
 8259,
 8388,
 8518,
 8649,
 8781,
 8914,
 9048,
 9183,
 9319,
 9456,
 9594,
 9733,
 9873,
 10014,
 10156,
 10299,
 10443,
 10588,
 10734,
 10881,
 11029,
 11178,
 11328,
 11479,
 11631,
 11784,
 11938,
 12093,
 12249,
 12406,
 12564,
 12723,
 12883,
 13044,
 13206,
 13369,
 13533,
 13698,
 13864,
 14031,
 14199,
 14368,
 14538,
 14709,
 14881,
 15054,
 15228,
 15403,
 15579,
 15756,
 15934,
 16113,
 16293,
 16474,
 16656,
 16839,
 17023,
 17208,
 17394,
 17581,
 17769,
 17958,
 18148,
 18339,
 18531,
 18724,
 18918,
 19113,
 19309,
 19506,
 19704,
 19903,
 20103,
 20304,
 20506,
 20709,
 20913,
 21118,
 21324,
 21531,
 21739,
 21948,
 22158,
 22369,
 22581,
 22794,
 23008,
 23223,
 23439,
 23656,
 23874,
 24093,
 24313,
 24534,
 24756,
 24979,
 25203,
 25428,
 25654,
 25881,
 26109,
 26338,
 26568,
 26799,
 27031,
 27264,
 27498,
 27733,
 27969,
 28206,
 28444,
 28683,
 28923,
 29164,
 29406,
 29649,
 29893,
 30138,
 30384,
 30631,
 30879,
 31128,
 31378,
 31629,
 31881,
 32134,
 32388,
 32643,
 32899,
 33156,
 33414,
 33673,
 33933,
 34194,
 34456,
 34719,
 34983,
 35248,
 35514,
 35781,
 36049,
 36318,
 36588,
 36859,
 37131,
 37404,
 37678,
 37953,
 38229,
 38506,
 38784,
 39063,
 39343,
 39624,
 39906,
 40189,
 40473,
 40758,
 41044,
 41331,
 41619,
 41908,
 42198,
 42489,
 42781,
 43074,
 43368,
 43663,
 43959,
 44256,
 44554,
 44853,
 45153,
 45454,
 45756,
 46059,
 46363,
 46668,
 46974,
 47281,
 47589,
 47898,
 48208,
 48519,
 48831,
 49144,
 49458,
 49773,
 50089,
 50406,
 50724,
 51043,
 51363,
 51684,
 52006,
 52329,
 52653,
 52978,
 53304,
 53631,
 53959,
 54288,
 54618,
 54949,
 55281,
 55614,
 55948,
 56283,
 56619,
 56956,
 57294,
 57633,
 57973,
 58314,
 58656,
 58999,
 59343,
 59688,
 60034,
 60381,
 60729,
 61078,
 61428,
 61779,
 62131,
 62484,
 62838,
 63193,
 63549,
 63906,
 64264,
 64623,
 64983,
 65344,
 65706,
 66069,
 66433,
 66798,
 67164,
 67531,
 67899,
 68268,
 68638,
 69009,
 69381,
 69754,
 70128,
 70503,
 70879,
 71256,
 71634,
 72013,
 72393,
 72774,
 73156,
 73539,
 73923,
 74308,
 74694,
 75081,
 75469,
 75858,
 76248,
 76639,
 77031,
 77424,
 77818,
 78213,
 78609,
 79006,
 79404,
 79803,
 80203,
 80604,
 81006,
 81409,
 81813,
 82218,
 82624,
 83031,
 83439,
 83848,
 84258,
 84669,
 85081,
 85494,
 85908,
 86323,
 86739,
 87156,
 87574,
 87993,
 88413,
 88834,
 89256,
 89679,
 90103,
 90528,
 90954,
 91381,
 91809,
 92238,
 92668,
 93099,
 93531,
 93964,
 94398,
 94833,
 95269,
 95706,
 96144,
 96583,
 97023,
 97464,
 97906,
 98349,
 98793,
 99238,
 99684,
 100131,
 100579,
 101028,
 101478,
 101929,
 102381,
 102834,
 103288,
 103743,
 104199,
 104656,
 105114,
 105573,
 106033,
 106494,
 106956,
 107419,
 107883,
 108348,
 108814,
 109281,
 109749,
 110218,
 110688,
 111159,
 111631,
 112104,
 112578,
 113053,
 113529,
 114006,
 114484,
 114963,
 115443,
 115924,
 116406,
 116889,
 117373,
 117858,
 118344,
 118831,
 119319,
 119808,
 120298,
 120789,
 121281,
 121774,
 122268,
 122763,
 123259,
 123756,
 124254,
 124753]

In [478]:
fast_check = []
list_sum = range(1,n+1)

for k in [1,2,3,4]:
    for n in range(1,1000+1):
        fast_check.append(int(n*(n+1)/2 + k))
        
for f in itertools.combinations(fast_check,2):
    if f[0] * f[1] == sum(list_sum) - f[0] - f[1]:
        result.append((f[0], f[1]))
        result.append((f[1], f[0]))

In [533]:
def removNb(N):

    import itertools
    
    fast_check = []
    list_sum = range(1,10+1)

    for k in [1,2,3,4]:
        for n in range(1,10+1):
            fast_check.append(int(n*(n+1)/2 + k))

    for f in itertools.combinations(fast_check,2):
        print(f)
        if (f[0] * f[1] == sum(list_sum) - f[0] - f[1]):
            print(f)

            result.append((f[0], f[1]))
            result.append((f[1], f[0]))
    
    return(result)
    
    
    
    
#     list_sum = range(1,n+1)
    
#     i_range = range(int(n*0.5),int((n+1)*0.9))
        
#     result = []
    
#     for i in itertools.combinations(i_range, 2):
#         if i[0] * i[1] == sum(list_sum) - i[0] - i[1]:
#             result.append((i[0], i[1]))
#             result.append((i[1], i[0]))
    
#     return result

In [545]:
fast_check = [1]
N = 26

for k in [1,2,3,4]:
    while fast_check[-1] < N:
        for n in range(1,N + 1):
                fast_check.append(int(n*(n+1)/2 + k))
        
print(fast_check)

[1, 2, 4, 7, 11, 16, 22, 29, 37, 46, 56, 67, 79, 92, 106, 121, 137, 154, 172, 191, 211, 232, 254, 277, 301, 326, 352]

In [529]:
n = 22
n*(n+1)/2

253.0

In [535]:
removNb(26)

(2, 4)
(2, 7)
(2, 11)
(2, 16)
(2, 22)
(2, 29)
(2, 37)
(2, 46)
(2, 56)
(2, 3)
(2, 5)
(2, 8)
(2, 12)
(2, 17)
(2, 23)
(2, 30)
(2, 38)
(2, 47)
(2, 57)
(2, 4)
(2, 6)
(2, 9)
(2, 13)
(2, 18)
(2, 24)
(2, 31)
(2, 39)
(2, 48)
(2, 58)
(2, 5)
(2, 7)
(2, 10)
(2, 14)
(2, 19)
(2, 25)
(2, 32)
(2, 40)
(2, 49)
(2, 59)
(4, 7)
(4, 11)
(4, 16)
(4, 22)
(4, 29)
(4, 37)
(4, 46)
(4, 56)
(4, 3)
(4, 5)
(4, 8)
(4, 12)
(4, 17)
(4, 23)
(4, 30)
(4, 38)
(4, 47)
(4, 57)
(4, 4)
(4, 6)
(4, 9)
(4, 13)
(4, 18)
(4, 24)
(4, 31)
(4, 39)
(4, 48)
(4, 58)
(4, 5)
(4, 7)
(4, 10)
(4, 14)
(4, 19)
(4, 25)
(4, 32)
(4, 40)
(4, 49)
(4, 59)
(7, 11)
(7, 16)
(7, 22)
(7, 29)
(7, 37)
(7, 46)
(7, 56)
(7, 3)
(7, 5)
(7, 8)
(7, 12)
(7, 17)
(7, 23)
(7, 30)
(7, 38)
(7, 47)
(7, 57)
(7, 4)
(7, 6)
(7, 6)
(7, 9)
(7, 13)
(7, 18)
(7, 24)
(7, 31)
(7, 39)
(7, 48)
(7, 58)
(7, 5)
(7, 7)
(7, 10)
(7, 14)
(7, 19)
(7, 25)
(7, 32)
(7, 40)
(7, 49)
(7, 59)
(11, 16)
(11, 22)
(11, 29)
(11, 37)
(11, 46)
(11, 56)
(11, 3)
(11, 5)
(11, 8)
(11, 12)
(11, 17)
(11, 23)
(11, 30)
(11, 38)
(11, 47)
(11, 57)
(11, 4)
(11, 6)
(11, 9)
(11, 13)
(11, 18)
(11, 24)
(11, 31)
(11, 39)
(11, 48)
(11, 58)
(11, 5)
(11, 7)
(11, 10)
(11, 14)
(11, 19)
(11, 25)
(11, 32)
(11, 40)
(11, 49)
(11, 59)
(16, 22)
(16, 29)
(16, 37)
(16, 46)
(16, 56)
(16, 3)
(16, 5)
(16, 8)
(16, 12)
(16, 17)
(16, 23)
(16, 30)
(16, 38)
(16, 47)
(16, 57)
(16, 4)
(16, 6)
(16, 9)
(16, 13)
(16, 18)
(16, 24)
(16, 31)
(16, 39)
(16, 48)
(16, 58)
(16, 5)
(16, 7)
(16, 10)
(16, 14)
(16, 19)
(16, 25)
(16, 32)
(16, 40)
(16, 49)
(16, 59)
(22, 29)
(22, 37)
(22, 46)
(22, 56)
(22, 3)
(22, 5)
(22, 8)
(22, 12)
(22, 17)
(22, 23)
(22, 30)
(22, 38)
(22, 47)
(22, 57)
(22, 4)
(22, 6)
(22, 9)
(22, 13)
(22, 18)
(22, 24)
(22, 31)
(22, 39)
(22, 48)
(22, 58)
(22, 5)
(22, 7)
(22, 10)
(22, 14)
(22, 19)
(22, 25)
(22, 32)
(22, 40)
(22, 49)
(22, 59)
(29, 37)
(29, 46)
(29, 56)
(29, 3)
(29, 5)
(29, 8)
(29, 12)
(29, 17)
(29, 23)
(29, 30)
(29, 38)
(29, 47)
(29, 57)
(29, 4)
(29, 6)
(29, 9)
(29, 13)
(29, 18)
(29, 24)
(29, 31)
(29, 39)
(29, 48)
(29, 58)
(29, 5)
(29, 7)
(29, 10)
(29, 14)
(29, 19)
(29, 25)
(29, 32)
(29, 40)
(29, 49)
(29, 59)
(37, 46)
(37, 56)
(37, 3)
(37, 5)
(37, 8)
(37, 12)
(37, 17)
(37, 23)
(37, 30)
(37, 38)
(37, 47)
(37, 57)
(37, 4)
(37, 6)
(37, 9)
(37, 13)
(37, 18)
(37, 24)
(37, 31)
(37, 39)
(37, 48)
(37, 58)
(37, 5)
(37, 7)
(37, 10)
(37, 14)
(37, 19)
(37, 25)
(37, 32)
(37, 40)
(37, 49)
(37, 59)
(46, 56)
(46, 3)
(46, 5)
(46, 8)
(46, 12)
(46, 17)
(46, 23)
(46, 30)
(46, 38)
(46, 47)
(46, 57)
(46, 4)
(46, 6)
(46, 9)
(46, 13)
(46, 18)
(46, 24)
(46, 31)
(46, 39)
(46, 48)
(46, 58)
(46, 5)
(46, 7)
(46, 10)
(46, 14)
(46, 19)
(46, 25)
(46, 32)
(46, 40)
(46, 49)
(46, 59)
(56, 3)
(56, 5)
(56, 8)
(56, 12)
(56, 17)
(56, 23)
(56, 30)
(56, 38)
(56, 47)
(56, 57)
(56, 4)
(56, 6)
(56, 9)
(56, 13)
(56, 18)
(56, 24)
(56, 31)
(56, 39)
(56, 48)
(56, 58)
(56, 5)
(56, 7)
(56, 10)
(56, 14)
(56, 19)
(56, 25)
(56, 32)
(56, 40)
(56, 49)
(56, 59)
(3, 5)
(3, 8)
(3, 12)
(3, 17)
(3, 23)
(3, 30)
(3, 38)
(3, 47)
(3, 57)
(3, 4)
(3, 6)
(3, 9)
(3, 13)
(3, 13)
(3, 18)
(3, 24)
(3, 31)
(3, 39)
(3, 48)
(3, 58)
(3, 5)
(3, 7)
(3, 10)
(3, 14)
(3, 19)
(3, 25)
(3, 32)
(3, 40)
(3, 49)
(3, 59)
(5, 8)
(5, 12)
(5, 17)
(5, 23)
(5, 30)
(5, 38)
(5, 47)
(5, 57)
(5, 4)
(5, 6)
(5, 9)
(5, 13)
(5, 18)
(5, 24)
(5, 31)
(5, 39)
(5, 48)
(5, 58)
(5, 5)
(5, 7)
(5, 10)
(5, 14)
(5, 19)
(5, 25)
(5, 32)
(5, 40)
(5, 49)
(5, 59)
(8, 12)
(8, 17)
(8, 23)
(8, 30)
(8, 38)
(8, 47)
(8, 57)
(8, 4)
(8, 6)
(8, 9)
(8, 13)
(8, 18)
(8, 24)
(8, 31)
(8, 39)
(8, 48)
(8, 58)
(8, 5)
(8, 7)
(8, 10)
(8, 14)
(8, 19)
(8, 25)
(8, 32)
(8, 40)
(8, 49)
(8, 59)
(12, 17)
(12, 23)
(12, 30)
(12, 38)
(12, 47)
(12, 57)
(12, 4)
(12, 6)
(12, 9)
(12, 13)
(12, 18)
(12, 24)
(12, 31)
(12, 39)
(12, 48)
(12, 58)
(12, 5)
(12, 7)
(12, 10)
(12, 14)
(12, 19)
(12, 25)
(12, 32)
(12, 40)
(12, 49)
(12, 59)
(17, 23)
(17, 30)
(17, 38)
(17, 47)
(17, 57)
(17, 4)
(17, 6)
(17, 9)
(17, 13)
(17, 18)
(17, 24)
(17, 31)
(17, 39)
(17, 48)
(17, 58)
(17, 5)
(17, 7)
(17, 10)
(17, 14)
(17, 19)
(17, 25)
(17, 32)
(17, 40)
(17, 49)
(17, 59)
(23, 30)
(23, 38)
(23, 47)
(23, 57)
(23, 4)
(23, 6)
(23, 9)
(23, 13)
(23, 18)
(23, 24)
(23, 31)
(23, 39)
(23, 48)
(23, 58)
(23, 5)
(23, 7)
(23, 10)
(23, 14)
(23, 19)
(23, 25)
(23, 32)
(23, 40)
(23, 49)
(23, 59)
(30, 38)
(30, 47)
(30, 57)
(30, 4)
(30, 6)
(30, 9)
(30, 13)
(30, 18)
(30, 24)
(30, 31)
(30, 39)
(30, 48)
(30, 58)
(30, 5)
(30, 7)
(30, 10)
(30, 14)
(30, 19)
(30, 25)
(30, 32)
(30, 40)
(30, 49)
(30, 59)
(38, 47)
(38, 57)
(38, 4)
(38, 6)
(38, 9)
(38, 13)
(38, 18)
(38, 24)
(38, 31)
(38, 39)
(38, 48)
(38, 58)
(38, 5)
(38, 7)
(38, 10)
(38, 14)
(38, 19)
(38, 25)
(38, 32)
(38, 40)
(38, 49)
(38, 59)
(47, 57)
(47, 4)
(47, 6)
(47, 9)
(47, 13)
(47, 18)
(47, 24)
(47, 31)
(47, 39)
(47, 48)
(47, 58)
(47, 5)
(47, 7)
(47, 10)
(47, 14)
(47, 19)
(47, 25)
(47, 32)
(47, 40)
(47, 49)
(47, 59)
(57, 4)
(57, 6)
(57, 9)
(57, 13)
(57, 18)
(57, 24)
(57, 31)
(57, 39)
(57, 48)
(57, 58)
(57, 5)
(57, 7)
(57, 10)
(57, 14)
(57, 19)
(57, 25)
(57, 32)
(57, 40)
(57, 49)
(57, 59)
(4, 6)
(4, 9)
(4, 13)
(4, 18)
(4, 24)
(4, 31)
(4, 39)
(4, 48)
(4, 58)
(4, 5)
(4, 7)
(4, 10)
(4, 14)
(4, 19)
(4, 25)
(4, 32)
(4, 40)
(4, 49)
(4, 59)
(6, 9)
(6, 13)
(6, 18)
(6, 24)
(6, 31)
(6, 39)
(6, 48)
(6, 58)
(6, 5)
(6, 7)
(6, 7)
(6, 10)
(6, 14)
(6, 19)
(6, 25)
(6, 32)
(6, 40)
(6, 49)
(6, 59)
(9, 13)
(9, 18)
(9, 24)
(9, 31)
(9, 39)
(9, 48)
(9, 58)
(9, 5)
(9, 7)
(9, 10)
(9, 14)
(9, 19)
(9, 25)
(9, 32)
(9, 40)
(9, 49)
(9, 59)
(13, 18)
(13, 24)
(13, 31)
(13, 39)
(13, 48)
(13, 58)
(13, 5)
(13, 7)
(13, 10)
(13, 14)
(13, 19)
(13, 25)
(13, 32)
(13, 40)
(13, 49)
(13, 59)
(18, 24)
(18, 31)
(18, 39)
(18, 48)
(18, 58)
(18, 5)
(18, 7)
(18, 10)
(18, 14)
(18, 19)
(18, 25)
(18, 32)
(18, 40)
(18, 49)
(18, 59)
(24, 31)
(24, 39)
(24, 48)
(24, 58)
(24, 5)
(24, 7)
(24, 10)
(24, 14)
(24, 19)
(24, 25)
(24, 32)
(24, 40)
(24, 49)
(24, 59)
(31, 39)
(31, 48)
(31, 58)
(31, 5)
(31, 7)
(31, 10)
(31, 14)
(31, 19)
(31, 25)
(31, 32)
(31, 40)
(31, 49)
(31, 59)
(39, 48)
(39, 58)
(39, 5)
(39, 7)
(39, 10)
(39, 14)
(39, 19)
(39, 25)
(39, 32)
(39, 40)
(39, 49)
(39, 59)
(48, 58)
(48, 5)
(48, 7)
(48, 10)
(48, 14)
(48, 19)
(48, 25)
(48, 32)
(48, 40)
(48, 49)
(48, 59)
(58, 5)
(58, 7)
(58, 10)
(58, 14)
(58, 19)
(58, 25)
(58, 32)
(58, 40)
(58, 49)
(58, 59)
(5, 7)
(5, 10)
(5, 14)
(5, 19)
(5, 25)
(5, 32)
(5, 40)
(5, 49)
(5, 59)
(7, 10)
(7, 14)
(7, 19)
(7, 25)
(7, 32)
(7, 40)
(7, 49)
(7, 59)
(10, 14)
(10, 19)
(10, 25)
(10, 32)
(10, 40)
(10, 49)
(10, 59)
(14, 19)
(14, 25)
(14, 32)
(14, 40)
(14, 49)
(14, 59)
(19, 25)
(19, 32)
(19, 40)
(19, 49)
(19, 59)
(25, 32)
(25, 40)
(25, 49)
(25, 59)
(32, 40)
(32, 49)
(32, 59)
(40, 49)
(40, 59)
(49, 59)

[(13, 25),
 (25, 13),
 (31, 10),
 (10, 31),
 (31, 10),
 (10, 31),
 (31, 10),
 (10, 31),
 (7, 6),
 (6, 7),
 (3, 13),
 (13, 3),
 (6, 7),
 (7, 6),
 (7, 6),
 (6, 7),
 (3, 13),
 (13, 3),
 (6, 7),
 (7, 6)]

In [546]:
n = 26

n*(n+1)/2 + k

355.0

In [575]:
def removNb(n):

    import itertools
    
    list_sum = sum(range(1,n+1))
    
    i_range = tuple([int(n*(n+1)/2) for n in range(1,n)])
        
    result = []
    
    for i in itertools.combinations(i_range, 2):
        if i[0] * i[1] == list_sum - i[0] - i[1]:
            result.append((i[0], i[1]))
            result.append((i[1], i[0]))
    
#     print(i_range)
    return result

In [576]:
removNb(26)

[(15, 21), (21, 15)]

In [577]:
removNb(100)

[]

In [578]:
removNb(10000)

[]

In [596]:
N = 10000
counter = 0
temp = []
while int(counter*(counter+1)/2) < N:
    for i in range(1,N):
        counter = i*(i+1)/2
#         print(counter)
        if counter < N:
            temp.append(counter)
temp

[1.0,
 3.0,
 6.0,
 10.0,
 15.0,
 21.0,
 28.0,
 36.0,
 45.0,
 55.0,
 66.0,
 78.0,
 91.0,
 105.0,
 120.0,
 136.0,
 153.0,
 171.0,
 190.0,
 210.0,
 231.0,
 253.0,
 276.0,
 300.0,
 325.0,
 351.0,
 378.0,
 406.0,
 435.0,
 465.0,
 496.0,
 528.0,
 561.0,
 595.0,
 630.0,
 666.0,
 703.0,
 741.0,
 780.0,
 820.0,
 861.0,
 903.0,
 946.0,
 990.0,
 1035.0,
 1081.0,
 1128.0,
 1176.0,
 1225.0,
 1275.0,
 1326.0,
 1378.0,
 1431.0,
 1485.0,
 1540.0,
 1596.0,
 1653.0,
 1711.0,
 1770.0,
 1830.0,
 1891.0,
 1953.0,
 2016.0,
 2080.0,
 2145.0,
 2211.0,
 2278.0,
 2346.0,
 2415.0,
 2485.0,
 2556.0,
 2628.0,
 2701.0,
 2775.0,
 2850.0,
 2926.0,
 3003.0,
 3081.0,
 3160.0,
 3240.0,
 3321.0,
 3403.0,
 3486.0,
 3570.0,
 3655.0,
 3741.0,
 3828.0,
 3916.0,
 4005.0,
 4095.0,
 4186.0,
 4278.0,
 4371.0,
 4465.0,
 4560.0,
 4656.0,
 4753.0,
 4851.0,
 4950.0,
 5050.0,
 5151.0,
 5253.0,
 5356.0,
 5460.0,
 5565.0,
 5671.0,
 5778.0,
 5886.0,
 5995.0,
 6105.0,
 6216.0,
 6328.0,
 6441.0,
 6555.0,
 6670.0,
 6786.0,
 6903.0,
 7021.0,
 7140.0,
 7260.0,
 7381.0,
 7503.0,
 7626.0,
 7750.0,
 7875.0,
 8001.0,
 8128.0,
 8256.0,
 8385.0,
 8515.0,
 8646.0,
 8778.0,
 8911.0,
 9045.0,
 9180.0,
 9316.0,
 9453.0,
 9591.0,
 9730.0,
 9870.0]

In [ ]:
[int(n*(n+1)/2) for n in range(1,n)]

In [643]:
def removNb(n):

    import itertools
    
    list_sum = sum(range(1,n+1))
    
#     N = 10000
    counter = 0
    i_range = []
    while int(counter*(counter+1)/2) < n:
        for k in [0,1,2,3,4]:
            for i in range(1,n):
                counter = i*(i+1)/2 + k
        #         print(counter)
                if counter < n:
                    i_range.append(counter)
        
    result = []
    
    for i in itertools.combinations(i_range, 2):
        if i[0] * i[1] == list_sum - i[0] - i[1]:
            result.append((i[0], i[1]))
            result.append((i[1], i[0]))
    
#     print(i_range)
    return result, len(i_range), i_range[-1]

In [644]:
removNb(26)

([(15.0, 21.0), (21.0, 15.0)], 30, 25.0)

In [624]:
removNb(100)

([], 65, 95.0)

In [625]:
removNb(1000000)

([], 7065, 998995.0)

In [756]:
def removNb(n):
    
    result = []
    
    b = n
    
    for i in range(1,b):
        a = ((n*(n+1)/2) - b)/ (b + 1)
#         print(a,b)
        if a % 1 == 0 and a < n:
#             print(int(a),b)
            result.append((int(a),b))
            
        b -= 1
    return result

In [757]:
removNb(26)

15 21
21 15

[(15, 21), (21, 15)]

In [762]:
removNb(1000000)

[]

In [634]:
from math import ceil